In [1]:
import pandas as pd

In [2]:
df_st=pd.read_csv("firestation_center.csv",encoding="cp949")
df_gu=pd.read_csv("fire_gu_col.csv",encoding="cp949")

In [3]:
df_st=df_st.drop(df_st.columns[0],axis=1)
df_st=df_st[df_st['서소코드'].str.startswith(('7','8','9'))]

In [4]:
df_st.tail(3)

      서소코드       서소이름         위도          경도
255  77236      성북소방서  37.602362  127.031667
256  85253  구로119안전센터  37.494224  126.882575
257  81251  화곡119안전센터  37.543647  126.845254

In [5]:
df_gu=df_gu.drop(df_gu.columns[[0,1]],axis=1)
df_gu.tail(3)

,자치구,발생_합계,발생_실화,발생_방화,발생_기타,소실_동수,소실_이재가구수,소실_면적,피해액_합계,피해액_부동산,피해액_동산,재산피해경감액,인명피해_합계,인명피해_사망,인명피해_부상,이재민수,구조인원
22,강남구,436,399,7,30,134,1,"1,631","1,624,983","670,429","954,554","87,651,462",23,0,23,1,36
23,송파구,340,301,7,32,84,16,"2,717","970,251","390,994","579,257","16,546,317",28,0,28,42,99
24,강동구,324,297,14,13,59,8,"3,358","540,625","236,181","304,444","7,235,347",19,4,15,19,26