In [1]:
import requests
from bs4 import BeautifulSoup
import json
from pprint import pprint
import numpy as np
import pandas as pd

In [2]:
res = requests.get('http://openapi.seoul.go.kr:8088/5058644a58646c733132324e64486957/json/bikeList/1/1000/')
data = json.loads(res.content)
df_1 = pd.DataFrame.from_dict(data['rentBikeStatus']['row'])


res_2 = requests.get('http://openapi.seoul.go.kr:8088/5058644a58646c733132324e64486957/json/bikeList/1001/2000')
data_2 = json.loads(res_2.content)
df_2 = pd.DataFrame.from_dict(data_2['rentBikeStatus']['row'])


fin_data = pd.concat([df_1, df_2],ignore_index=True)

In [3]:
fin_data['station_No']=fin_data['stationName'].apply(lambda e: e.split('.')[0])
fin_data['station_Name']=fin_data['stationName'].apply(lambda e: e.split('.')[1])

In [4]:
fin_data = fin_data.drop(columns=['stationName']).copy()
fin_data = fin_data.drop(columns=['stationId']).copy()

In [5]:
fin_data

,parkingBikeTotCnt,rackTotCnt,shared,stationLatitude,stationLongitude,station_No,station_Name
0,2,5,40,37.54956055,126.90575409,101,(구)합정동 주민센터
1,19,20,95,37.55564880,126.91062927,102,망원역 1번출구 앞
2,3,14,21,37.55495071,126.91083527,103,망원역 2번출구 앞
3,1,13,8,37.55062866,126.91498566,104,합정역 1번출구 앞
4,0,5,0,37.55000687,126.91482544,105,합정역 5번출구 앞
5,1,10,10,37.54864502,126.91282654,106,합정역 7번출구 앞
6,4,5,80,37.55751038,126.91850281,107,신한은행 서교동금융센터점 앞
7,5,10,50,37.55274582,126.91861725,108,서교동 사거리
8,2,10,20,37.54769135,126.91998291,109,제일빌딩 앞
9,3,20,15,37.56819916,126.91784668,110,사천교
10,0,10,0,37.54787064,126.92353058,111,상수역 2번출구 앞
11,1,10,10,37.54920197,126.92320251,112,극동방송국 앞
12,6,25,24,37.55749893,126.92380524,113,홍대입구역 2번출구 앞
13,2,15,13,37.55706024,126.92442322,114,홍대입구역 8번출구 앞
14,2,15,13,37.55893326,126.92711639,115,사루비아 빌딩 앞
15,5,5,100,37.56454086,126.92707062,116,일진아이윌아파트 옆
16,6,25,24,37.59115982,126.94132996,117,홍은사거리
17,8,10,80,37.54773331,126.93176270,118,광흥창역 2번출구 앞
18,9,10,90,37.54528427,126.93105316,119,서강나루 공원
19,4,5,80,37.54524231,126.93411255,120,신수동 사거리
20,9,15,60,37.54976654,126.93317413,121,마포소방서 앞
21,9,10,90,37.54745865,126.93837738,122,신성기사식당 앞
22,17,20,85,37.59432983,126.94738770,123,문화촌 공원
23,16,20,80,37.55113983,126.93698883,124,서강대 정문 건너편
24,14,20,70,37.55041122,126.94384766,126,서강대 후문 옆
25,4,15,27,37.55352020,126.93695068,127,현대벤처빌 앞
26,2,20,10,37.55549622,126.93634033,128,신촌역(2호선) 1번출구 옆
27,6,15,40,37.55505371,126.93756866,129,신촌역(2호선) 6번출구 옆
28,2,10,20,37.55485916,126.93615723,130,신촌역(2호선) 7번출구 앞
29,2,23,9,37.58417130,126.91110229,131,증산2교
...,...,...,...,...,...,...,...
1496,2,10,20,37.56864929,127.08625031,3510,중곡SK아파트앞
1497,8,10,80,37.55125046,127.03510284,3511,응봉역 1번출구
1498,8,10,80,37.56460953,127.02919769,3513,상왕십리역 1번출구
1499,2,10,20,37.56626129,127.02369690,3514,왕십리교회옆
1500,12,20,60,37.54281616,127.04208374,3515,서울숲 관리사무소
1501,4,10,40,37.54370499,127.09324646,3516,구의아리수정수센터앞
1502,1,10,10,37.56252670,127.08227539,3517,용마사거리
1503,7,8,88,37.55686188,127.07913971,3518,군자역 7번출구뒤
1504,6,10,60,37.56260681,127.05130768,3519,용답역 1번 출구
1505,3,10,30,37.54251862,127.08408356,3520,광진경찰서
1506,1,10,10,37.54342651,127.09661865,3521,현대홈타운 뒷길
1507,1,9,11,37.56124496,127.04885101,3522,사근삼거리
1508,5,10,50,37.54171753,127.08016968,3523,건국대학교 과학관(이과대) 앞
1509,1,15,7,37.55023575,127.07382202,3524,세종대학교
1510,11,15,73,37.54608917,127.02507019,3525,금호스포츠센터앞
1511,0,8,0,37.56179047,127.02439117,3527,왕십리 자이아파트
1512,5,8,63,37.55059814,127.11051178,3528,광진정보도서관
1513,9,15,60,37.54978943,127.07592773,3529,어린이대공원정문
1514,15,15,100,37.56014633,127.02635956,3530,왕십리자이아파트 후문(삼거리)
1515,14,15,93,37.55477905,127.02484131,3531,논골사거리(금호도서관 입구)
1516,1,15,7,37.56068039,127.02677917,3532,왕십리KCC스위첸아파트
1517,9,10,90,37.53913879,127.07061768,3533,건대입구역 사거리(롯데백화점)
1518,5,12,42,37.54013824,127.06928253,3534,건대입구역 5번출구 뒤
1519,8,10,80,37.55915833,127.08751678,3535,중곡사거리(국민은행)
1520,4,10,40,37.53181076,127.08074188,3536,중앙농협(자양동)
1521,0,15,0,37.54848862,127.09375763,3537,아차산 휴먼시아 아파트 옆
1522,4,14,29,37.55089188,127.04476166,3538,서울숲 IT캐슬
1523,5,10,50,37.56379318,127.13283539,3539,서원마을
1524,11,20,55,37.54124832,127.06604004,3541,커먼그라운드
1525,6,17,35,37.54504013,127.08995819,3542,래미안 구의파크 스위트

In [6]:
df = pd.read_csv(r"C:\Users\19641\OSS_Project\opensourceproject\bicycle\df_bicycle.csv")

In [7]:
arr =  pd.read_csv(r"C:\Users\19641\OSS_Project\opensourceproject\bicycle\using_No.csv",names = ["station_No"])

In [8]:
arr['station_No'] = arr['station_No'].astype(str)

In [9]:
df = df[df["반납대여소번호"].isin(arr['station_No'])]
df = df.reset_index(drop=True)

df = df[df["대여대여소번호"].isin(arr['station_No'])]
df = df.reset_index(drop=True)

In [10]:
df

,반납위도,반납경도,반납대여소번호,대여위도,대여경도,대여대여소번호,대여일시,반납일시
0,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-03 09:57:31,2019-01-03 10:11:35
1,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-04 14:00:53,2019-01-04 14:06:32
2,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-04 18:29:43,2019-01-04 19:15:47
3,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-06 14:12:34,2019-01-06 14:59:50
4,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-07 19:35:34,2019-01-07 20:08:06
5,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-13 11:17:09,2019-01-13 12:01:49
6,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-13 13:37:48,2019-01-13 13:58:40
7,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-13 14:23:41,2019-01-13 15:19:49
8,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-15 20:28:15,2019-01-15 21:11:51
9,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-15 21:42:09,2019-01-15 21:58:30
10,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-15 23:45:11,2019-01-16 00:47:05
11,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-16 19:52:47,2019-01-16 20:24:50
12,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-19 10:59:57,2019-01-19 12:19:41
13,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-19 12:20:13,2019-01-19 13:51:38
14,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-19 13:53:59,2019-01-19 15:49:53
15,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-19 15:50:24,2019-01-19 17:30:06
16,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-19 23:06:16,2019-01-20 00:10:58
17,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-20 09:25:12,2019-01-20 11:19:35
18,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-20 11:20:03,2019-01-20 12:02:41
19,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-20 17:24:09,2019-01-20 17:35:54
20,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-21 03:12:32,2019-01-21 05:05:10
21,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-23 15:52:26,2019-01-23 17:38:47
22,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-25 12:42:50,2019-01-25 13:13:48
23,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-26 15:31:32,2019-01-26 16:26:28
24,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-26 18:55:36,2019-01-26 19:52:07
25,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-26 19:50:00,2019-01-26 20:03:13
26,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-26 23:26:27,2019-01-26 23:48:54
27,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-27 17:16:00,2019-01-27 18:03:35
28,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-27 18:59:45,2019-01-27 19:13:38
29,37.549561,126.905754,101,37.549561,126.905754,101,2019-01-27 23:50:28,2019-01-27 23:54:43
...,...,...,...,...,...,...,...,...
5325963,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-24 01:19:52,2019-05-24 02:13:23
5325964,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-24 15:00:12,2019-05-24 15:22:38
5325965,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-24 17:08:42,2019-05-24 17:42:54
5325966,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-24 21:31:11,2019-05-24 22:16:58
5325967,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 09:23:50,2019-05-25 10:04:18
5325968,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 12:28:26,2019-05-25 13:24:15
5325969,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 16:56:54,2019-05-25 17:54:10
5325970,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 18:54:03,2019-05-25 19:38:25
5325971,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 19:03:56,2019-05-25 20:44:25
5325972,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 22:22:09,2019-05-25 23:07:44
5325973,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 22:20:25,2019-05-25 23:07:56
5325974,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-25 22:18:29,2019-05-25 23:08:01
5325975,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-26 13:04:34,2019-05-26 13:24:08
5325976,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-26 17:11:43,2019-05-26 17:46:00
5325977,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-26 20:59:56,2019-05-26 21:51:09
5325978,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-26 22:21:42,2019-05-27 00:13:50
5325979,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-26 22:21:20,2019-05-27 05:40:35
5325980,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-27 05:41:25,2019-05-27 05:54:36
5325981,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-27 17:00:52,2019-05-27 17:10:44
5325982,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-28 05:45:19,2019-05-28 05:52:05
5325983,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-28 08:25:19,2019-05-28 10:10:27
5325984,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-28 15:24:35,2019-05-28 15:54:14
5325985,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-28 17:29:00,2019-05-28 18:18:28
5325986,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-28 20:25:55,2019-05-28 20:29:06
5325987,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-29 17:35:35,2019-05-29 17:51:36
5325988,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-29 22:07:08,2019-05-29 23:09:24
5325989,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-30 05:55:57,2019-05-30 06:03:06
5325990,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-30 08:19:39,2019-05-30 10:07:55
5325991,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-30 15:07:22,2019-05-30 15:31:08
5325992,37.545040,127.089958,3542,37.545040,127.089958,3542,2019-05-31 08:35:27,2019-05-31 08:47:34

In [11]:
origin = df[['반납대여소번호','대여대여소번호','반납일시','대여일시']].copy()
destination = df[['반납대여소번호','대여대여소번호','반납일시','대여일시']].copy()

In [12]:
origin['Path ID'] =  'No.' + origin['반납대여소번호'].map(str)+ '_' +  'No.' + origin['대여대여소번호'].map(str)
origin['Origin-Destination']='Origin'

In [13]:
destination['Path ID'] = 'No.' + destination['반납대여소번호'].map(str) + '_' +  'No.' + destination['대여대여소번호'].map(str)
destination['Origin-Destination']='Destination'

In [14]:
origin = origin.drop(columns=['반납대여소번호', '반납일시']).copy()
origin = origin.rename(columns={"대여대여소번호": "대여소번호", "대여일시": "일시"}).copy()
origin = origin.drop(columns=['일시']).copy()

In [15]:
origin

         대여소번호          Path ID Origin-Destination
0          101    No.101_No.101             Origin
1          101    No.101_No.101             Origin
2          101    No.101_No.101             Origin
3          101    No.101_No.101             Origin
4          101    No.101_No.101             Origin
5          101    No.101_No.101             Origin
6          101    No.101_No.101             Origin
7          101    No.101_No.101             Origin
8          101    No.101_No.101             Origin
9          101    No.101_No.101             Origin
10         101    No.101_No.101             Origin
11         101    No.101_No.101             Origin
12         101    No.101_No.101             Origin
13         101    No.101_No.101             Origin
14         101    No.101_No.101             Origin
15         101    No.101_No.101             Origin
16         101    No.101_No.101             Origin
17         101    No.101_No.101             Origin
18         101    No.101_No.101             Origin
19         101    No.101_No.101             Origin
20         101    No.101_No.101             Origin
21         101    No.101_No.101             Origin
22         101    No.101_No.101             Origin
23         101    No.101_No.101             Origin
24         101    No.101_No.101             Origin
25         101    No.101_No.101             Origin
26         101    No.101_No.101             Origin
27         101    No.101_No.101             Origin
28         101    No.101_No.101             Origin
29         101    No.101_No.101             Origin
...        ...              ...                ...
5325963   3542  No.3542_No.3542             Origin
5325964   3542  No.3542_No.3542             Origin
5325965   3542  No.3542_No.3542             Origin
5325966   3542  No.3542_No.3542             Origin
5325967   3542  No.3542_No.3542             Origin
5325968   3542  No.3542_No.3542             Origin
5325969   3542  No.3542_No.3542             Origin
5325970   3542  No.3542_No.3542             Origin
5325971   3542  No.3542_No.3542             Origin
5325972   3542  No.3542_No.3542             Origin
5325973   3542  No.3542_No.3542             Origin
5325974   3542  No.3542_No.3542             Origin
5325975   3542  No.3542_No.3542             Origin
5325976   3542  No.3542_No.3542             Origin
5325977   3542  No.3542_No.3542             Origin
5325978   3542  No.3542_No.3542             Origin
5325979   3542  No.3542_No.3542             Origin
5325980   3542  No.3542_No.3542             Origin
5325981   3542  No.3542_No.3542             Origin
5325982   3542  No.3542_No.3542             Origin
5325983   3542  No.3542_No.3542             Origin
5325984   3542  No.3542_No.3542             Origin
5325985   3542  No.3542_No.3542             Origin
5325986   3542  No.3542_No.3542             Origin
5325987   3542  No.3542_No.3542             Origin
5325988   3542  No.3542_No.3542             Origin
5325989   3542  No.3542_No.3542             Origin
5325990   3542  No.3542_No.3542             Origin
5325991   3542  No.3542_No.3542             Origin
5325992   3542  No.3542_No.3542             Origin

[5325993 rows x 3 columns]

In [16]:
tmp = pd.DataFrame()
tmp['Path ID'] = origin['Path ID'].value_counts().index
tmp['Count'] = origin['Path ID'].value_counts().values

In [17]:
tmp

                Path ID  Count
0         No.207_No.207  10088
1         No.502_No.502   9541
2       No.3515_No.3515   5396
3       No.2219_No.2219   4076
4       No.2183_No.2102   3830
5       No.2102_No.2183   3544
6         No.152_No.152   3533
7         No.113_No.183   3266
8       No.2102_No.2102   3121
9         No.186_No.186   2585
10        No.272_No.272   2420
11        No.907_No.907   2411
12        No.502_No.548   2347
13      No.2002_No.2002   2324
14        No.592_No.590   2286
15        No.183_No.113   2222
16      No.2183_No.2183   2176
17      No.2025_No.2025   2133
18        No.565_No.565   2132
19       No.3533_No.502   2086
20        No.590_No.592   1993
21      No.1827_No.1827   1956
22      No.2301_No.2301   1912
23        No.583_No.583   1908
24        No.502_No.593   1861
25      No.1160_No.1160   1846
26      No.2050_No.2013   1827
27      No.2202_No.2206   1790
28      No.2102_No.2107   1777
29      No.2262_No.2262   1776
...                 ...    ...
316233  No.1320_No.2305      1
316234    No.304_No.274      1
316235   No.1319_No.563      1
316236   No.1295_No.704      1
316237   No.2365_No.221      1
316238   No.3530_No.303      1
316239  No.1022_No.2301      1
316240  No.1407_No.2351      1
316241   No.223_No.2054      1
316242  No.2249_No.2407      1
316243  No.2614_No.1002      1
316244    No.318_No.137      1
316245  No.2026_No.2353      1
316246    No.836_No.238      1
316247    No.634_No.826      1
316248  No.2508_No.1220      1
316249    No.163_No.109      1
316250  No.2613_No.3518      1
316251   No.275_No.2369      1
316252   No.213_No.1916      1
316253  No.1420_No.1305      1
316254   No.1826_No.146      1
316255  No.2380_No.1257      1
316256   No.2127_No.139      1
316257   No.1264_No.312      1
316258  No.1955_No.2279      1
316259  No.1359_No.1723      1
316260  No.1002_No.2368      1
316261   No.760_No.1842      1
316262  No.1545_No.1431      1

[316263 rows x 2 columns]

In [18]:
tmp['Path ID']

0           No.207_No.207
1           No.502_No.502
2         No.3515_No.3515
3         No.2219_No.2219
4         No.2183_No.2102
5         No.2102_No.2183
6           No.152_No.152
7           No.113_No.183
8         No.2102_No.2102
9           No.186_No.186
10          No.272_No.272
11          No.907_No.907
12          No.502_No.548
13        No.2002_No.2002
14          No.592_No.590
15          No.183_No.113
16        No.2183_No.2183
17        No.2025_No.2025
18          No.565_No.565
19         No.3533_No.502
20          No.590_No.592
21        No.1827_No.1827
22        No.2301_No.2301
23          No.583_No.583
24          No.502_No.593
25        No.1160_No.1160
26        No.2050_No.2013
27        No.2202_No.2206
28        No.2102_No.2107
29        No.2262_No.2262
               ...
316233    No.1320_No.2305
316234      No.304_No.274
316235     No.1319_No.563
316236     No.1295_No.704
316237     No.2365_No.221
316238     No.3530_No.303
316239    No.1022_No.2301
316240    No.1407_No.2351
316241     No.223_No.2054
316242    No.2249_No.2407
316243    No.2614_No.1002
316244      No.318_No.137
316245    No.2026_No.2353
316246      No.836_No.238
316247      No.634_No.826
316248    No.2508_No.1220
316249      No.163_No.109
316250    No.2613_No.3518
316251     No.275_No.2369
316252     No.213_No.1916
316253    No.1420_No.1305
316254     No.1826_No.146
316255    No.2380_No.1257
316256     No.2127_No.139
316257     No.1264_No.312
316258    No.1955_No.2279
316259    No.1359_No.1723
316260    No.1002_No.2368
316261     No.760_No.1842
316262    No.1545_No.1431
Name: Path ID, Length: 316263, dtype: object

In [19]:
tmp['start']=tmp['Path ID'].apply(lambda e: e.split('_')[0])
tmp['dest']=tmp['Path ID'].apply(lambda e: e.split('_')[1])

In [20]:
tmp = tmp[tmp['start']==tmp['dest']].copy()

In [21]:
tmp = tmp[tmp['Count']>1000].copy()

In [22]:
tmp['!use']=tmp['start'].apply(lambda e: e.split('No.')[1])

In [23]:
no_use_arr = tmp['!use'].values

In [24]:
no_use_arr

array(['207', '502', '3515', '2219', '152', '2102', '186', '272', '907',
       '2002', '2183', '2025', '565', '1827', '2301', '583', '1160',
       '2262', '2622', '1222', '210', '2621', '914', '592', '113', '511',
       '182', '1720', '3511', '421', '1210', '1209', '1355', '202',
       '1611', '2217', '2613', '590', '525', '2107', '249', '1122',
       '2177', '176', '1663', '634', '183', '106', '248', '650', '123',
       '1308', '205', '418', '832', '3533', '1452', '1906', '703', '247'],
      dtype=object)

In [25]:
fin_data

,parkingBikeTotCnt,rackTotCnt,shared,stationLatitude,stationLongitude,station_No,station_Name
0,2,5,40,37.54956055,126.90575409,101,(구)합정동 주민센터
1,19,20,95,37.55564880,126.91062927,102,망원역 1번출구 앞
2,3,14,21,37.55495071,126.91083527,103,망원역 2번출구 앞
3,1,13,8,37.55062866,126.91498566,104,합정역 1번출구 앞
4,0,5,0,37.55000687,126.91482544,105,합정역 5번출구 앞
5,1,10,10,37.54864502,126.91282654,106,합정역 7번출구 앞
6,4,5,80,37.55751038,126.91850281,107,신한은행 서교동금융센터점 앞
7,5,10,50,37.55274582,126.91861725,108,서교동 사거리
8,2,10,20,37.54769135,126.91998291,109,제일빌딩 앞
9,3,20,15,37.56819916,126.91784668,110,사천교
10,0,10,0,37.54787064,126.92353058,111,상수역 2번출구 앞
11,1,10,10,37.54920197,126.92320251,112,극동방송국 앞
12,6,25,24,37.55749893,126.92380524,113,홍대입구역 2번출구 앞
13,2,15,13,37.55706024,126.92442322,114,홍대입구역 8번출구 앞
14,2,15,13,37.55893326,126.92711639,115,사루비아 빌딩 앞
15,5,5,100,37.56454086,126.92707062,116,일진아이윌아파트 옆
16,6,25,24,37.59115982,126.94132996,117,홍은사거리
17,8,10,80,37.54773331,126.93176270,118,광흥창역 2번출구 앞
18,9,10,90,37.54528427,126.93105316,119,서강나루 공원
19,4,5,80,37.54524231,126.93411255,120,신수동 사거리
20,9,15,60,37.54976654,126.93317413,121,마포소방서 앞
21,9,10,90,37.54745865,126.93837738,122,신성기사식당 앞
22,17,20,85,37.59432983,126.94738770,123,문화촌 공원
23,16,20,80,37.55113983,126.93698883,124,서강대 정문 건너편
24,14,20,70,37.55041122,126.94384766,126,서강대 후문 옆
25,4,15,27,37.55352020,126.93695068,127,현대벤처빌 앞
26,2,20,10,37.55549622,126.93634033,128,신촌역(2호선) 1번출구 옆
27,6,15,40,37.55505371,126.93756866,129,신촌역(2호선) 6번출구 옆
28,2,10,20,37.55485916,126.93615723,130,신촌역(2호선) 7번출구 앞
29,2,23,9,37.58417130,126.91110229,131,증산2교
...,...,...,...,...,...,...,...
1496,2,10,20,37.56864929,127.08625031,3510,중곡SK아파트앞
1497,8,10,80,37.55125046,127.03510284,3511,응봉역 1번출구
1498,8,10,80,37.56460953,127.02919769,3513,상왕십리역 1번출구
1499,2,10,20,37.56626129,127.02369690,3514,왕십리교회옆
1500,12,20,60,37.54281616,127.04208374,3515,서울숲 관리사무소
1501,4,10,40,37.54370499,127.09324646,3516,구의아리수정수센터앞
1502,1,10,10,37.56252670,127.08227539,3517,용마사거리
1503,7,8,88,37.55686188,127.07913971,3518,군자역 7번출구뒤
1504,6,10,60,37.56260681,127.05130768,3519,용답역 1번 출구
1505,3,10,30,37.54251862,127.08408356,3520,광진경찰서
1506,1,10,10,37.54342651,127.09661865,3521,현대홈타운 뒷길
1507,1,9,11,37.56124496,127.04885101,3522,사근삼거리
1508,5,10,50,37.54171753,127.08016968,3523,건국대학교 과학관(이과대) 앞
1509,1,15,7,37.55023575,127.07382202,3524,세종대학교
1510,11,15,73,37.54608917,127.02507019,3525,금호스포츠센터앞
1511,0,8,0,37.56179047,127.02439117,3527,왕십리 자이아파트
1512,5,8,63,37.55059814,127.11051178,3528,광진정보도서관
1513,9,15,60,37.54978943,127.07592773,3529,어린이대공원정문
1514,15,15,100,37.56014633,127.02635956,3530,왕십리자이아파트 후문(삼거리)
1515,14,15,93,37.55477905,127.02484131,3531,논골사거리(금호도서관 입구)
1516,1,15,7,37.56068039,127.02677917,3532,왕십리KCC스위첸아파트
1517,9,10,90,37.53913879,127.07061768,3533,건대입구역 사거리(롯데백화점)
1518,5,12,42,37.54013824,127.06928253,3534,건대입구역 5번출구 뒤
1519,8,10,80,37.55915833,127.08751678,3535,중곡사거리(국민은행)
1520,4,10,40,37.53181076,127.08074188,3536,중앙농협(자양동)
1521,0,15,0,37.54848862,127.09375763,3537,아차산 휴먼시아 아파트 옆
1522,4,14,29,37.55089188,127.04476166,3538,서울숲 IT캐슬
1523,5,10,50,37.56379318,127.13283539,3539,서원마을
1524,11,20,55,37.54124832,127.06604004,3541,커먼그라운드
1525,6,17,35,37.54504013,127.08995819,3542,래미안 구의파크 스위트

### 부족/넘치는 자전거 대수를 포함한 need_use & over_use df 생성

In [26]:
need = fin_data[fin_data['shared'].map(int)<30].copy()
need

,parkingBikeTotCnt,rackTotCnt,shared,stationLatitude,stationLongitude,station_No,station_Name
2,3,14,21,37.55495071,126.91083527,103,망원역 2번출구 앞
3,1,13,8,37.55062866,126.91498566,104,합정역 1번출구 앞
4,0,5,0,37.55000687,126.91482544,105,합정역 5번출구 앞
5,1,10,10,37.54864502,126.91282654,106,합정역 7번출구 앞
8,2,10,20,37.54769135,126.91998291,109,제일빌딩 앞
9,3,20,15,37.56819916,126.91784668,110,사천교
10,0,10,0,37.54787064,126.92353058,111,상수역 2번출구 앞
11,1,10,10,37.54920197,126.92320251,112,극동방송국 앞
12,6,25,24,37.55749893,126.92380524,113,홍대입구역 2번출구 앞
13,2,15,13,37.55706024,126.92442322,114,홍대입구역 8번출구 앞
14,2,15,13,37.55893326,126.92711639,115,사루비아 빌딩 앞
16,6,25,24,37.59115982,126.94132996,117,홍은사거리
25,4,15,27,37.55352020,126.93695068,127,현대벤처빌 앞
26,2,20,10,37.55549622,126.93634033,128,신촌역(2호선) 1번출구 옆
28,2,10,20,37.55485916,126.93615723,130,신촌역(2호선) 7번출구 앞
29,2,23,9,37.58417130,126.91110229,131,증산2교
34,0,10,0,37.55681229,126.94318390,137,NH농협 신촌지점 앞
35,1,10,10,37.55917740,126.93452454,138,신촌동 제1공영주차장 앞
55,0,7,0,37.55695343,126.94634247,159,이대역 4번 출구
60,1,10,10,37.57447815,126.91004944,164,북가좌1동 주민센터
83,1,10,10,37.57731628,126.90296936,194,증산교 앞
85,2,10,20,37.56612015,126.92589569,196,연희교차로 인근
89,1,15,7,37.53123856,126.92133331,201,진미파라곤 앞
91,3,15,20,37.52805710,126.91870117,203,국회의사당역 3번출구 옆
92,2,13,15,37.52816391,126.91702271,204,국회의사당역 5번출구 옆
93,2,20,10,37.52626419,126.92050934,205,산업은행 앞
94,9,35,26,37.52466583,126.91802216,206,KBS 앞
96,1,12,8,37.52461243,126.92783356,209,유진투자증권빌딩 앞
97,1,21,5,37.52606583,126.92553711,210,IFC몰
99,9,35,26,37.52136230,126.92346191,212,여의도역 1번출구 옆
...,...,...,...,...,...,...,...
1459,0,10,0,37.48173904,127.14322662,2606,위례동주민센터 맞은편 근린공원
1460,2,15,13,37.47064972,127.12711334,2607,복정역 2번출구 후문 (장지치안센터)
1461,2,15,13,37.51435852,127.10619354,2608,송파구청
1462,0,10,0,37.52048874,127.13520050,2609,보성중고등학교 후문 앞
1464,1,7,14,37.53633118,127.11618042,2611,송파지역자활센터 뒤
1466,0,15,0,37.50186157,127.11723328,2614,가락고등학교 앞
1468,0,10,0,37.49704742,127.14035034,2616,거여동 사거리
1469,3,15,20,37.49618149,127.13803101,2617,가락삼환아파트 앞
1472,1,15,7,37.50997925,127.11231232,2620,송파나루역 4번 출구옆
1474,3,20,15,37.51625824,127.13059235,2622,올림픽공원역 3번출구
1476,1,20,5,37.56917953,126.81944275,2702,마곡 엠밸리2단지
1477,2,30,7,37.48437119,126.89542389,2801,에이스트윈타워1차
1483,1,12,8,37.59714890,126.93852997,3105,홍은센트레빌 아파트 앞
1485,2,7,29,37.56974030,126.93332672,3107,연희초등학교 앞
1488,1,15,7,37.56565857,127.08429718,3502,중곡역 1번출구
1490,1,8,13,37.53805161,127.07659912,3504,원일교회
1492,2,10,20,37.53701401,127.06109619,3506,영동대교 북단
1493,0,39,0,37.54595184,127.07800293,3507,어린이회관
1494,1,10,10,37.54822159,127.06787872,3508,화양사거리
1495,2,20,10,37.55341721,127.07319641,3509,세종사이버대학교
1496,2,10,20,37.56864929,127.08625031,3510,중곡SK아파트앞
1499,2,10,20,37.56626129,127.02369690,3514,왕십리교회옆
1502,1,10,10,37.56252670,127.08227539,3517,용마사거리
1506,1,10,10,37.54342651,127.09661865,3521,현대홈타운 뒷길
1507,1,9,11,37.56124496,127.04885101,3522,사근삼거리
1509,1,15,7,37.55023575,127.07382202,3524,세종대학교
1511,0,8,0,37.56179047,127.02439117,3527,왕십리 자이아파트
1516,1,15,7,37.56068039,127.02677917,3532,왕십리KCC스위첸아파트
1521,0,15,0,37.54848862,127.09375763,3537,아차산 휴먼시아 아파트 옆
1522,4,14,29,37.55089188,127.04476166,3538,서울숲 IT캐슬

In [27]:
need['count'] = need['rackTotCnt'].map(int)*0.3 - need['parkingBikeTotCnt'].map(int)
need['count'] = need['count'].astype(int)
need_use = need[['station_No','stationLatitude','stationLongitude','count','shared','rackTotCnt','parkingBikeTotCnt']]
need_use = need_use.reset_index(drop=True)
need_use

,station_No,stationLatitude,stationLongitude,count,shared,rackTotCnt,parkingBikeTotCnt
0,103,37.55495071,126.91083527,2,21,14,3
1,104,37.55062866,126.91498566,4,8,13,1
2,105,37.55000687,126.91482544,2,0,5,0
3,106,37.54864502,126.91282654,3,10,10,1
4,109,37.54769135,126.91998291,2,20,10,2
5,110,37.56819916,126.91784668,5,15,20,3
6,111,37.54787064,126.92353058,4,0,10,0
7,112,37.54920197,126.92320251,3,10,10,1
8,113,37.55749893,126.92380524,4,24,25,6
9,114,37.55706024,126.92442322,4,13,15,2
10,115,37.55893326,126.92711639,4,13,15,2
11,117,37.59115982,126.94132996,4,24,25,6
12,127,37.55352020,126.93695068,2,27,15,4
13,128,37.55549622,126.93634033,6,10,20,2
14,130,37.55485916,126.93615723,2,20,10,2
15,131,37.58417130,126.91110229,7,9,23,2
16,137,37.55681229,126.94318390,4,0,10,0
17,138,37.55917740,126.93452454,3,10,10,1
18,159,37.55695343,126.94634247,2,0,7,0
19,164,37.57447815,126.91004944,3,10,10,1
20,194,37.57731628,126.90296936,3,10,10,1
21,196,37.56612015,126.92589569,2,20,10,2
22,201,37.53123856,126.92133331,5,7,15,1
23,203,37.52805710,126.91870117,3,20,15,3
24,204,37.52816391,126.91702271,3,15,13,2
25,205,37.52626419,126.92050934,6,10,20,2
26,206,37.52466583,126.91802216,5,26,35,9
27,209,37.52461243,126.92783356,3,8,12,1
28,210,37.52606583,126.92553711,7,5,21,1
29,212,37.52136230,126.92346191,5,26,35,9
...,...,...,...,...,...,...,...
532,2606,37.48173904,127.14322662,4,0,10,0
533,2607,37.47064972,127.12711334,4,13,15,2
534,2608,37.51435852,127.10619354,4,13,15,2
535,2609,37.52048874,127.13520050,4,0,10,0
536,2611,37.53633118,127.11618042,1,14,7,1
537,2614,37.50186157,127.11723328,6,0,15,0
538,2616,37.49704742,127.14035034,4,0,10,0
539,2617,37.49618149,127.13803101,3,20,15,3
540,2620,37.50997925,127.11231232,5,7,15,1
541,2622,37.51625824,127.13059235,5,15,20,3
542,2702,37.56917953,126.81944275,7,5,20,1
543,2801,37.48437119,126.89542389,10,7,30,2
544,3105,37.59714890,126.93852997,3,8,12,1
545,3107,37.56974030,126.93332672,0,29,7,2
546,3502,37.56565857,127.08429718,5,7,15,1
547,3504,37.53805161,127.07659912,2,13,8,1
548,3506,37.53701401,127.06109619,2,20,10,2
549,3507,37.54595184,127.07800293,15,0,39,0
550,3508,37.54822159,127.06787872,3,10,10,1
551,3509,37.55341721,127.07319641,6,10,20,2
552,3510,37.56864929,127.08625031,2,20,10,2
553,3514,37.56626129,127.02369690,2,20,10,2
554,3517,37.56252670,127.08227539,3,10,10,1
555,3521,37.54342651,127.09661865,3,10,10,1
556,3522,37.56124496,127.04885101,2,11,9,1
557,3524,37.55023575,127.07382202,5,7,15,1
558,3527,37.56179047,127.02439117,3,0,8,0
559,3532,37.56068039,127.02677917,5,7,15,1
560,3537,37.54848862,127.09375763,6,0,15,0
561,3538,37.55089188,127.04476166,1,29,14,4

In [28]:
over = fin_data[fin_data['shared'].map(int)>60].copy()
over

,parkingBikeTotCnt,rackTotCnt,shared,stationLatitude,stationLongitude,station_No,station_Name
1,19,20,95,37.55564880,126.91062927,102,망원역 1번출구 앞
6,4,5,80,37.55751038,126.91850281,107,신한은행 서교동금융센터점 앞
15,5,5,100,37.56454086,126.92707062,116,일진아이윌아파트 옆
17,8,10,80,37.54773331,126.93176270,118,광흥창역 2번출구 앞
18,9,10,90,37.54528427,126.93105316,119,서강나루 공원
19,4,5,80,37.54524231,126.93411255,120,신수동 사거리
21,9,10,90,37.54745865,126.93837738,122,신성기사식당 앞
22,17,20,85,37.59432983,126.94738770,123,문화촌 공원
23,16,20,80,37.55113983,126.93698883,124,서강대 정문 건너편
24,14,20,70,37.55041122,126.94384766,126,서강대 후문 옆
31,8,8,100,37.55789185,126.93807983,134,연세로 명물길
32,8,10,80,37.55910110,126.93917847,135,명물길 원형무대 앞
33,7,7,100,37.55600357,126.94229889,136,대흥동 주민센터
37,17,20,85,37.56000900,126.94073486,140,이화여대 후문
38,16,20,80,37.56238174,126.93264771,141,연대 대운동장 옆
40,6,9,67,37.54457855,126.95021820,143,공덕역 2번출구
44,7,7,100,37.53927231,126.94591522,147,마포역 4번출구 뒤
45,7,11,64,37.54234695,126.94302368,148,용강동 주민센터 앞
47,9,10,90,37.55568695,126.90554810,151,망원1동주민센터
48,19,30,63,37.55661011,126.89801788,152,마포구민체육센터 앞
50,12,13,92,37.56090927,126.90549469,154,마포구청역
51,12,15,80,37.56855011,126.91451263,155,가좌역1 번출구 뒤
56,13,20,65,37.55754852,126.95938110,160,북아현동 가구거리
61,13,20,65,37.57513809,126.91394043,165,중앙근린공원
63,12,15,80,37.57946014,126.91712952,167,연가초등학교 옆
65,7,10,70,37.57311249,126.92244720,170,가재울 뉴타운 주유소 옆
66,9,10,90,37.56472397,126.96727753,171,임광빌딩 앞
67,7,8,88,37.56477737,126.96614838,173,서대문역 8번출구 앞
69,9,10,90,37.58109665,126.92402649,176,명지대학교 도서관
70,7,8,88,37.57767487,126.90980530,177,북가좌 초등학교
...,...,...,...,...,...,...,...
1406,7,10,70,37.51763535,127.02245331,2362,신사동 가로수길 입구
1408,7,10,70,37.52124023,127.03189850,2364,도산대로 렉서스 앞
1409,13,15,87,37.52330017,127.03847504,2365,K+ 타워 앞
1416,8,10,80,37.48735046,127.10099792,2375,수서역 1번출구 앞
1420,7,8,88,37.50636673,127.03452301,2381,언주역 6번출구앞
1421,8,10,80,37.46632767,127.09488678,2383,보금자리정원
1430,8,10,80,37.47200012,127.05133820,2393,구룡사 앞 교차로 (보도육교)
1435,13,15,87,37.48871994,127.07453918,2403,공무원연금매점 교차로 (개포주공9단지 입구)
1437,15,20,75,37.51871109,127.05084991,2405,청담공원앞 교차로
1440,9,14,64,37.47734070,127.11327362,2408,강남한양수자인아파트
1448,7,10,70,37.51588058,127.01930237,2504,신사역 4번출구 뒤
1452,13,16,81,37.49837112,126.99246216,2509,KT반포지사
1455,8,10,80,37.50674820,127.09883118,2601,석촌호수 서호사거리
1463,7,10,70,37.51045227,127.10640717,2610,여흥레이크빌 앞 (석촌호수 까페거리)
1470,12,14,86,37.50471115,127.08756256,2618,삼전역 1번출구
1473,12,15,80,37.51665878,127.11625671,2621,한성백제역 2번 출구
1475,10,15,67,37.56520081,126.82731628,2701,마곡나루역 5번출구 뒤편
1478,5,8,63,37.55739594,126.95216370,3100,북성초교
1481,8,8,100,37.58670044,126.94676971,3103,홍제삼거리 북측
1482,13,13,100,37.55812836,126.95620728,3104,e편한세상 신촌4단지 앞
1491,10,12,83,37.53522110,127.06839752,3505,신양초교앞 교차로
1497,8,10,80,37.55125046,127.03510284,3511,응봉역 1번출구
1498,8,10,80,37.56460953,127.02919769,3513,상왕십리역 1번출구
1503,7,8,88,37.55686188,127.07913971,3518,군자역 7번출구뒤
1510,11,15,73,37.54608917,127.02507019,3525,금호스포츠센터앞
1512,5,8,63,37.55059814,127.11051178,3528,광진정보도서관
1514,15,15,100,37.56014633,127.02635956,3530,왕십리자이아파트 후문(삼거리)
1515,14,15,93,37.55477905,127.02484131,3531,논골사거리(금호도서관 입구)
1517,9,10,90,37.53913879,127.07061768,3533,건대입구역 사거리(롯데백화점)
1519,8,10,80,37.55915833,127.08751678,3535,중곡사거리(국민은행)

In [29]:
over['count'] = over['parkingBikeTotCnt'].map(int) - over['rackTotCnt'].map(int)*0.4
over['count'] = over['count'].astype(int)
over_use = over[['station_No','stationLatitude','stationLongitude','count','shared','rackTotCnt','parkingBikeTotCnt']]
over_use = over_use.reset_index(drop=True)
over_use

,station_No,stationLatitude,stationLongitude,count,shared,rackTotCnt,parkingBikeTotCnt
0,102,37.55564880,126.91062927,11,95,20,19
1,107,37.55751038,126.91850281,2,80,5,4
2,116,37.56454086,126.92707062,3,100,5,5
3,118,37.54773331,126.93176270,4,80,10,8
4,119,37.54528427,126.93105316,5,90,10,9
5,120,37.54524231,126.93411255,2,80,5,4
6,122,37.54745865,126.93837738,5,90,10,9
7,123,37.59432983,126.94738770,9,85,20,17
8,124,37.55113983,126.93698883,8,80,20,16
9,126,37.55041122,126.94384766,6,70,20,14
10,134,37.55789185,126.93807983,4,100,8,8
11,135,37.55910110,126.93917847,4,80,10,8
12,136,37.55600357,126.94229889,4,100,7,7
13,140,37.56000900,126.94073486,9,85,20,17
14,141,37.56238174,126.93264771,8,80,20,16
15,143,37.54457855,126.95021820,2,67,9,6
16,147,37.53927231,126.94591522,4,100,7,7
17,148,37.54234695,126.94302368,2,64,11,7
18,151,37.55568695,126.90554810,5,90,10,9
19,152,37.55661011,126.89801788,7,63,30,19
20,154,37.56090927,126.90549469,6,92,13,12
21,155,37.56855011,126.91451263,6,80,15,12
22,160,37.55754852,126.95938110,5,65,20,13
23,165,37.57513809,126.91394043,5,65,20,13
24,167,37.57946014,126.91712952,6,80,15,12
25,170,37.57311249,126.92244720,3,70,10,7
26,171,37.56472397,126.96727753,5,90,10,9
27,173,37.56477737,126.96614838,3,88,8,7
28,176,37.58109665,126.92402649,5,90,10,9
29,177,37.57767487,126.90980530,3,88,8,7
...,...,...,...,...,...,...,...
376,2362,37.51763535,127.02245331,3,70,10,7
377,2364,37.52124023,127.03189850,3,70,10,7
378,2365,37.52330017,127.03847504,7,87,15,13
379,2375,37.48735046,127.10099792,4,80,10,8
380,2381,37.50636673,127.03452301,3,88,8,7
381,2383,37.46632767,127.09488678,4,80,10,8
382,2393,37.47200012,127.05133820,4,80,10,8
383,2403,37.48871994,127.07453918,7,87,15,13
384,2405,37.51871109,127.05084991,7,75,20,15
385,2408,37.47734070,127.11327362,3,64,14,9
386,2504,37.51588058,127.01930237,3,70,10,7
387,2509,37.49837112,126.99246216,6,81,16,13
388,2601,37.50674820,127.09883118,4,80,10,8
389,2610,37.51045227,127.10640717,3,70,10,7
390,2618,37.50471115,127.08756256,6,86,14,12
391,2621,37.51665878,127.11625671,6,80,15,12
392,2701,37.56520081,126.82731628,4,67,15,10
393,3100,37.55739594,126.95216370,1,63,8,5
394,3103,37.58670044,126.94676971,4,100,8,8
395,3104,37.55812836,126.95620728,7,100,13,13
396,3505,37.53522110,127.06839752,5,83,12,10
397,3511,37.55125046,127.03510284,4,80,10,8
398,3513,37.56460953,127.02919769,4,80,10,8
399,3518,37.55686188,127.07913971,3,88,8,7
400,3525,37.54608917,127.02507019,5,73,15,11
401,3528,37.55059814,127.11051178,1,63,8,5
402,3530,37.56014633,127.02635956,9,100,15,15
403,3531,37.55477905,127.02484131,8,93,15,14
404,3533,37.53913879,127.07061768,5,90,10,9
405,3535,37.55915833,127.08751678,4,80,10,8

In [30]:
need_use['count'].sum()

2032

In [31]:
over_use['count'].sum()

1980

## 재배치 알고리즘

1) 서울시 중심좌표 기준 가장 먼 Need 부터 Sorting

2) for문 돌면서 순서대로 

    2-1) need와 가까운 k 개의 over를 구함
    
    2-2) 가장 가까운 over에서 부터 채울 수 있는 만큼 모두 채움
    
    2-3) need & over 갱신 후 문제가 해결 된 거치소는 삭제함
    
3) 나온 결과물
    
   need over movenum
     1    2   3

In [32]:
no_use_arr

array(['207', '502', '3515', '2219', '152', '2102', '186', '272', '907',
       '2002', '2183', '2025', '565', '1827', '2301', '583', '1160',
       '2262', '2622', '1222', '210', '2621', '914', '592', '113', '511',
       '182', '1720', '3511', '421', '1210', '1209', '1355', '202',
       '1611', '2217', '2613', '590', '525', '2107', '249', '1122',
       '2177', '176', '1663', '634', '183', '106', '248', '650', '123',
       '1308', '205', '418', '832', '3533', '1452', '1906', '703', '247'],
      dtype=object)

In [33]:
need_use = need_use[~need_use["station_No"].isin(no_use_arr)].copy()
need_use.reset_index(drop=True)
need_use

,station_No,stationLatitude,stationLongitude,count,shared,rackTotCnt,parkingBikeTotCnt
0,103,37.55495071,126.91083527,2,21,14,3
1,104,37.55062866,126.91498566,4,8,13,1
2,105,37.55000687,126.91482544,2,0,5,0
4,109,37.54769135,126.91998291,2,20,10,2
5,110,37.56819916,126.91784668,5,15,20,3
6,111,37.54787064,126.92353058,4,0,10,0
7,112,37.54920197,126.92320251,3,10,10,1
9,114,37.55706024,126.92442322,4,13,15,2
10,115,37.55893326,126.92711639,4,13,15,2
11,117,37.59115982,126.94132996,4,24,25,6
12,127,37.55352020,126.93695068,2,27,15,4
13,128,37.55549622,126.93634033,6,10,20,2
14,130,37.55485916,126.93615723,2,20,10,2
15,131,37.58417130,126.91110229,7,9,23,2
16,137,37.55681229,126.94318390,4,0,10,0
17,138,37.55917740,126.93452454,3,10,10,1
18,159,37.55695343,126.94634247,2,0,7,0
19,164,37.57447815,126.91004944,3,10,10,1
20,194,37.57731628,126.90296936,3,10,10,1
21,196,37.56612015,126.92589569,2,20,10,2
22,201,37.53123856,126.92133331,5,7,15,1
23,203,37.52805710,126.91870117,3,20,15,3
24,204,37.52816391,126.91702271,3,15,13,2
26,206,37.52466583,126.91802216,5,26,35,9
27,209,37.52461243,126.92783356,3,8,12,1
29,212,37.52136230,126.92346191,5,26,35,9
30,215,37.52483749,126.93490601,3,10,10,1
31,218,37.52327728,126.92923737,7,5,20,1
32,219,37.52069473,126.92583466,4,0,12,0
33,220,37.51936340,126.92604828,9,10,30,3
...,...,...,...,...,...,...,...
531,2605,37.47129822,127.12709045,4,13,15,2
532,2606,37.48173904,127.14322662,4,0,10,0
533,2607,37.47064972,127.12711334,4,13,15,2
534,2608,37.51435852,127.10619354,4,13,15,2
535,2609,37.52048874,127.13520050,4,0,10,0
536,2611,37.53633118,127.11618042,1,14,7,1
537,2614,37.50186157,127.11723328,6,0,15,0
538,2616,37.49704742,127.14035034,4,0,10,0
539,2617,37.49618149,127.13803101,3,20,15,3
540,2620,37.50997925,127.11231232,5,7,15,1
542,2702,37.56917953,126.81944275,7,5,20,1
543,2801,37.48437119,126.89542389,10,7,30,2
544,3105,37.59714890,126.93852997,3,8,12,1
545,3107,37.56974030,126.93332672,0,29,7,2
546,3502,37.56565857,127.08429718,5,7,15,1
547,3504,37.53805161,127.07659912,2,13,8,1
548,3506,37.53701401,127.06109619,2,20,10,2
549,3507,37.54595184,127.07800293,15,0,39,0
550,3508,37.54822159,127.06787872,3,10,10,1
551,3509,37.55341721,127.07319641,6,10,20,2
552,3510,37.56864929,127.08625031,2,20,10,2
553,3514,37.56626129,127.02369690,2,20,10,2
554,3517,37.56252670,127.08227539,3,10,10,1
555,3521,37.54342651,127.09661865,3,10,10,1
556,3522,37.56124496,127.04885101,2,11,9,1
557,3524,37.55023575,127.07382202,5,7,15,1
558,3527,37.56179047,127.02439117,3,0,8,0
559,3532,37.56068039,127.02677917,5,7,15,1
560,3537,37.54848862,127.09375763,6,0,15,0
561,3538,37.55089188,127.04476166,1,29,14,4

In [34]:
need_use['count'].sum()

1943

In [35]:
from math import cos, asin, sqrt
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295     #Pi/180
    a = 0.5 - cos((lat2 - lat1) * p)/2 + cos(lat1 * p) * cos(lat2 * p) * (1 - cos((lon2 - lon1) * p)) / 2
    return 12742 * asin(sqrt(a)) #2*R*asin...

In [36]:
need_use = need_use.sort_values(by=['shared'])

In [37]:
need_use = need_use.reset_index(drop=True)
need_use

,station_No,stationLatitude,stationLongitude,count,shared,rackTotCnt,parkingBikeTotCnt
0,1169,37.54719925,126.87448883,3,0,8,0
1,1170,37.54917908,126.86879730,4,0,11,0
2,1175,37.55437851,126.85753632,6,0,15,0
3,1184,37.55644989,126.81597900,6,0,15,0
4,1186,37.55472946,126.81609344,4,0,10,0
5,1204,37.49334335,127.14472961,4,0,10,0
6,2312,37.52058029,127.05632782,4,0,10,0
7,1229,37.49068832,127.14312744,6,0,15,0
8,1230,37.49567032,127.13059235,4,0,10,0
9,2311,37.51777267,127.04302216,4,0,10,0
10,1240,37.48057556,127.11856842,4,0,10,0
11,1241,37.48123932,127.11979675,6,0,15,0
12,1242,37.48209000,127.11974335,6,0,15,0
13,1243,37.48453140,127.12016296,8,0,20,0
14,2302,37.50558090,127.02427673,4,0,10,0
15,1245,37.47946548,127.12532806,4,0,10,0
16,2292,37.48824310,127.02701569,6,0,15,0
17,1259,37.50898361,127.12659454,6,0,15,0
18,2281,37.47597885,126.98628235,2,0,7,0
19,1285,37.47747040,127.14459229,6,0,15,0
20,1287,37.47753143,127.14151764,3,0,8,0
21,1290,37.47465897,127.13771820,4,0,10,0
22,1295,37.51396179,127.10030365,8,0,20,0
23,1299,37.51987839,127.13671112,6,0,15,0
24,1315,37.60776138,127.00328064,4,0,10,0
25,3537,37.54848862,127.09375763,6,0,15,0
26,2139,37.47116470,126.93701935,4,0,10,0
27,1139,37.53650665,126.86333466,3,0,8,0
28,1132,37.55110931,126.86370850,4,0,10,0
29,1130,37.54275131,126.84262085,2,0,7,0
...,...,...,...,...,...,...,...
514,201,37.53123856,126.92133331,5,7,15,1
515,3524,37.55023575,127.07382202,5,7,15,1
516,3532,37.56068039,127.02677917,5,7,15,1
517,3502,37.56565857,127.08429718,5,7,15,1
518,1634,37.66907883,127.07759094,5,7,15,1
519,265,37.52113342,126.89653778,5,7,15,1
520,322,37.56447601,126.98696899,5,7,15,1
521,1449,37.59655762,127.08583832,5,7,15,1
522,1420,37.61423111,127.09676361,5,7,15,1
523,1401,37.61473846,127.07636261,5,7,15,1
524,1246,37.47750854,127.12632751,10,7,30,2
525,2333,37.48515701,127.03407288,5,7,15,1
526,2380,37.51169586,127.04934692,5,7,15,1
527,512,37.54856110,127.04500580,5,7,15,1
528,716,37.51728058,126.86433411,5,7,15,1
529,2144,37.47777557,126.91675568,5,7,15,1
530,2243,37.48149109,127.03672791,5,7,15,1
531,724,37.51068115,126.85739899,5,7,15,1
532,816,37.53014755,126.96848297,5,7,15,1
533,726,37.53438950,126.86959839,5,7,15,1
534,104,37.55062866,126.91498566,4,8,13,1
535,2167,37.47629547,126.96495819,3,8,12,1
536,1736,37.65224075,127.03706360,3,8,12,1
537,209,37.52461243,126.92783356,3,8,12,1
538,513,37.54630661,127.04980469,4,8,13,1
539,1015,37.55003738,127.14691162,4,8,13,1
540,3105,37.59714890,126.93852997,3,8,12,1
541,2145,37.48635864,126.94292450,3,8,12,1
542,523,37.54366302,127.01406097,3,9,11,1
543,131,37.58417130,126.91110229,7,9,23,2

In [38]:
move = pd.DataFrame(columns=['Origin','Destination','movement']).copy()
max_tolerance = over_use['count'].sum()


for i in need_use['station_No']:
   
    x = need_use[need_use['station_No'] ==i]['stationLatitude'].values
    nd_x = float(x[0])
    y = need_use[need_use['station_No'] ==i]['stationLongitude'].values
    nd_y = float(y[0])
        
    dt_distance = pd.DataFrame(columns=['station_Num','distance']).copy()
    
    
    for j in over_use['station_No']:
        
        if(over_use[over_use['station_No'] ==j]['count'].values == 0):
            continue
        else:
            x = over_use[over_use['station_No'] ==j]['stationLatitude'].values
            ov_x = float(x[0])
            y = over_use[over_use['station_No'] ==j]['stationLongitude'].values
            ov_y = float(y[0])
            dis = distance(nd_x,nd_y,ov_x,ov_y)
            dt_distance = dt_distance.append({'station_Num': j,'distance':dis}, ignore_index=True)
            
    dt_distance = dt_distance.sort_values(by=['distance']).copy()
    dt_distance = dt_distance.reset_index(drop=True)
    
    if(max_tolerance == 0):
        break
    
    need_amount = need_use[need_use['station_No'] ==i]['count'].values
    
    for k in dt_distance['station_Num']:
        over_amount = over_use[over_use['station_No'] == k]['count'].values
        
        if(max_tolerance == 0):
            break
        
        if(need_amount == 0):
            break
            
        elif(need_amount > over_amount):
            need_amount -= over_amount
            max_tolerance -= over_amount
            
            over_use.at[over_use[over_use['station_No'] == k].index[0], 'count'] = 0
            need_use.at[need_use[need_use['station_No'] == i].index[0], 'count'] = need_amount
            
            move = move.append({'Origin':k,'Destination':i,'movement':int(over_amount)}, ignore_index=True)
            
        else:
            over_amount -= need_amount
            max_tolerance -= need_amount
            
            over_use.at[over_use[over_use['station_No'] == k].index[0], 'count'] = over_amount
            need_use.at[need_use[need_use['station_No'] == i].index[0], 'count'] = 0
            
            move = move.append({'Origin':k,'Destination':i,'movement':int(need_amount)}, ignore_index=True)
            break

In [39]:
move

    Origin Destination movement
0     1137        1169        3
1     1157        1170        1
2      227        1170        3
3     1120        1175        6
4     1181        1184        3
5     1150        1184        3
6     1150        1186        3
7     1109        1186        1
8     1207        1204        4
9     2405        2312        4
10    1207        1229        1
11    1300        1229        5
12    1283        1230        2
13    1201        1230        2
14    2347        2311        4
15    2408        1240        3
16    1201        1240        1
17    1201        1241        2
18    2375        1241        4
19    1212        1242        3
20    2383        1242        3
21    1218        1243        4
22    2383        1243        1
23    2601        1243        3
24    2268        2302        4
25    2610        1245        3
26    2601        1245        1
27    2231        2292        6
28    1267        1259        5
29    1248        1259        1
..     ...         ...      ...
790    424         716        3
791    417         716        2
792    417        2144        2
793    177        2144        3
794    178        2243        4
795    915        2243        1
796    414         724        1
797    972         724        1
798    915         724        3
799    912         816        5
800    914         726        5
801    912         104        1
802    914         104        2
803    956         104        1
804    956        2167        1
805    907        2167        2
806    945        1736        2
807    903        1736        1
808    907         209        1
809    900         209        2
810    900         513        3
811    964         513        1
812    964        1015        1
813    923        1015        3
814    950        3105        2
815    927        3105        1
816    971        2145        3
817    971         523        3
818    906         131        5
819    927         131        2

[820 rows x 3 columns]

In [40]:
move.to_csv('move.csv',encoding='utf-8-sig',index=False)

In [41]:
move

    Origin Destination movement
0     1137        1169        3
1     1157        1170        1
2      227        1170        3
3     1120        1175        6
4     1181        1184        3
5     1150        1184        3
6     1150        1186        3
7     1109        1186        1
8     1207        1204        4
9     2405        2312        4
10    1207        1229        1
11    1300        1229        5
12    1283        1230        2
13    1201        1230        2
14    2347        2311        4
15    2408        1240        3
16    1201        1240        1
17    1201        1241        2
18    2375        1241        4
19    1212        1242        3
20    2383        1242        3
21    1218        1243        4
22    2383        1243        1
23    2601        1243        3
24    2268        2302        4
25    2610        1245        3
26    2601        1245        1
27    2231        2292        6
28    1267        1259        5
29    1248        1259        1
..     ...         ...      ...
790    424         716        3
791    417         716        2
792    417        2144        2
793    177        2144        3
794    178        2243        4
795    915        2243        1
796    414         724        1
797    972         724        1
798    915         724        3
799    912         816        5
800    914         726        5
801    912         104        1
802    914         104        2
803    956         104        1
804    956        2167        1
805    907        2167        2
806    945        1736        2
807    903        1736        1
808    907         209        1
809    900         209        2
810    900         513        3
811    964         513        1
812    964        1015        1
813    923        1015        3
814    950        3105        2
815    927        3105        1
816    971        2145        3
817    971         523        3
818    906         131        5
819    927         131        2

[820 rows x 3 columns]

In [42]:
df = move.copy()

In [44]:
last = pd.read_csv(r"C:\Users\19641\OSS_Project\opensourceproject\bicycle\공공자전거 대여소 정보_201905.CSV",engine = 'python')
last

        구분  대여소번호                    대여소명         위도          경도  거치대수
0      마포구    101        101. (구)합정동 주민센터  37.549561  126.905754     5
1      마포구    102         102. 망원역 1번출구 앞  37.556000  126.910454    20
2      마포구    103         103. 망원역 2번출구 앞  37.554951  126.910835    14
3      마포구    104         104. 합정역 1번출구 앞  37.550629  126.914986    13
4      마포구    105         105. 합정역 5번출구 앞  37.550007  126.914825     5
5      마포구    106         106. 합정역 7번출구 앞  37.548645  126.912827    10
6      마포구    107    107. 신한은행 서교동금융센터점 앞  37.557510  126.918503     5
7      마포구    108            108. 서교동 사거리  37.552746  126.918617    10
8      마포구    109             109. 제일빌딩 앞  37.547691  126.919983    10
9     서대문구    110                110. 사천교  37.568199  126.917847    20
10     마포구    111         111. 상수역 2번출구 앞  37.547871  126.923531    10
11     마포구    112            112. 극동방송국 앞  37.549202  126.923203    10
12     마포구    113       113. 홍대입구역 2번출구 앞  37.557499  126.923805    25
13     마포구    114       114. 홍대입구역 8번출구 앞  37.557060  126.924423    15
14    서대문구    115          115. 사루비아 빌딩 앞  37.558933  126.927116    15
15    서대문구    116         116. 일진아이윌아파트 옆  37.564541  126.927071     5
16    서대문구    117              117. 홍은사거리  37.591160  126.941330    25
17     마포구    118        118. 광흥창역 2번출구 앞  37.547733  126.931763    10
18     마포구    119            119. 서강나루 공원  37.545284  126.931053    10
19     마포구    120            120. 신수동 사거리  37.545242  126.934113     5
20     마포구    121            121. 마포소방서 앞  37.549767  126.933174    15
21     마포구    122           122. 신성기사식당 앞  37.547249  126.939293    10
22    서대문구    123             123. 문화촌 공원  37.594330  126.947388    20
23     마포구    124         124. 서강대 정문 건너편  37.551140  126.936989    20
24     마포구    125           125. 서강대 남문 옆  37.549484  126.938950    15
25     마포구    126           126. 서강대 후문 옆  37.550411  126.943848    20
26     마포구    127            127. 현대벤처빌 앞  37.553520  126.936951    15
27    서대문구    128    128. 신촌역(2호선) 1번출구 옆  37.555496  126.936340    20
28     마포구    129    129. 신촌역(2호선) 6번출구 옆  37.555054  126.937569    15
29     마포구    130    130. 신촌역(2호선) 7번출구 앞  37.554859  126.936157    10
...    ...    ...                     ...        ...         ...   ...
1507   광진구   3510          3510. 중곡SK아파트앞  37.568649  127.086250    10
1508   성동구   3511          3511. 응봉역 1번출구  37.551250  127.035103    10
1509   성동구   3513        3513. 상왕십리역 1번출구  37.564610  127.029198    10
1510   성동구   3514            3514. 왕십리교회옆  37.566261  127.023697    10
1511   성동구   3515         3515. 서울숲 관리사무소  37.542816  127.042084    20
1512   광진구   3516        3516. 구의아리수정수센터앞  37.543705  127.093246    10
1513   광진구   3517             3517. 용마사거리  37.562527  127.082275    10
1514   광진구   3518         3518. 군자역 7번출구뒤  37.556862  127.079140     8
1515   성동구   3519         3519. 용답역 1번 출구  37.562607  127.051308    10
1516   광진구   3520             3520. 광진경찰서  37.542519  127.084084    10
1517   광진구   3521          3521. 현대홈타운 뒷길  37.543427  127.096619    10
1518   성동구   3522             3522. 사근삼거리  37.561245  127.048851     9
1519   광진구   3523  3523. 건국대학교 과학관(이과대) 앞  37.541718  127.080170    10
1520   광진구   3524             3524. 세종대학교  37.550236  127.073822    15
1521   성동구   3525                금호스포츠센터앞  37.546089  127.025070    15
1522   성동구   3527               왕십리 자이아파트  37.561790  127.024391     8
1523   광진구   3528                 광진정보도서관  37.550598  127.110512     8
1524   광진구   3529                어린이대공원정문  37.549789  127.075928    15
1525   성동구   3530        왕십리자이아파트 후문(삼거리)  37.560146  127.026360    15
1526   성동구   3531         논골사거리(금호도서관 입구)  37.554779  127.024841    15
1527   성동구   3532            왕십리KCC스위첸아파트  37.560680  127.026779    15
1528   광진구   3533        건대입구역 사거리(롯데백화점)  37.539139  127.070618    10
1529   광진구   3534            건대입구역 5번출구 뒤  37.540138  127.069283    12
1530   광진구   3535             중곡사거리(국민은행)  37.559158  127.087517    10
1531   광진구   3536               중앙농협(자양동)  37.531811  127.080742    10
1532   광진구   3537          아차산 휴먼시아 아파트 옆  37.548489  127.093758    15
1533   성동구   3538                서울숲 IT캐슬  37.550892  127.044762    14
1534   강동구   3539                    서원마을  37.563820  127.132843    10
1535   광진구   3541                  커먼그라운드  37.545040  127.089958    17
1536   광진구   3542            래미안 구의파크 스위트  37.545040  127.089958    17

[1537 rows x 6 columns]

In [45]:
origin = pd.DataFrame().copy()

In [46]:
origin['Station'] = df['Origin'].map(str)
origin['Path ID'] =  'No.' + df['Origin'].map(str)+ '_' +  'No.' + df['Destination'].map(str)
origin['Origin-Destination']='Origin'
origin['movement'] = df['movement']

In [47]:
origin

    Station          Path ID Origin-Destination movement
0      1137  No.1137_No.1169             Origin        3
1      1157  No.1157_No.1170             Origin        1
2       227   No.227_No.1170             Origin        3
3      1120  No.1120_No.1175             Origin        6
4      1181  No.1181_No.1184             Origin        3
5      1150  No.1150_No.1184             Origin        3
6      1150  No.1150_No.1186             Origin        3
7      1109  No.1109_No.1186             Origin        1
8      1207  No.1207_No.1204             Origin        4
9      2405  No.2405_No.2312             Origin        4
10     1207  No.1207_No.1229             Origin        1
11     1300  No.1300_No.1229             Origin        5
12     1283  No.1283_No.1230             Origin        2
13     1201  No.1201_No.1230             Origin        2
14     2347  No.2347_No.2311             Origin        4
15     2408  No.2408_No.1240             Origin        3
16     1201  No.1201_No.1240             Origin        1
17     1201  No.1201_No.1241             Origin        2
18     2375  No.2375_No.1241             Origin        4
19     1212  No.1212_No.1242             Origin        3
20     2383  No.2383_No.1242             Origin        3
21     1218  No.1218_No.1243             Origin        4
22     2383  No.2383_No.1243             Origin        1
23     2601  No.2601_No.1243             Origin        3
24     2268  No.2268_No.2302             Origin        4
25     2610  No.2610_No.1245             Origin        3
26     2601  No.2601_No.1245             Origin        1
27     2231  No.2231_No.2292             Origin        6
28     1267  No.1267_No.1259             Origin        5
29     1248  No.1248_No.1259             Origin        1
..      ...              ...                ...      ...
790     424    No.424_No.716             Origin        3
791     417    No.417_No.716             Origin        2
792     417   No.417_No.2144             Origin        2
793     177   No.177_No.2144             Origin        3
794     178   No.178_No.2243             Origin        4
795     915   No.915_No.2243             Origin        1
796     414    No.414_No.724             Origin        1
797     972    No.972_No.724             Origin        1
798     915    No.915_No.724             Origin        3
799     912    No.912_No.816             Origin        5
800     914    No.914_No.726             Origin        5
801     912    No.912_No.104             Origin        1
802     914    No.914_No.104             Origin        2
803     956    No.956_No.104             Origin        1
804     956   No.956_No.2167             Origin        1
805     907   No.907_No.2167             Origin        2
806     945   No.945_No.1736             Origin        2
807     903   No.903_No.1736             Origin        1
808     907    No.907_No.209             Origin        1
809     900    No.900_No.209             Origin        2
810     900    No.900_No.513             Origin        3
811     964    No.964_No.513             Origin        1
812     964   No.964_No.1015             Origin        1
813     923   No.923_No.1015             Origin        3
814     950   No.950_No.3105             Origin        2
815     927   No.927_No.3105             Origin        1
816     971   No.971_No.2145             Origin        3
817     971    No.971_No.523             Origin        3
818     906    No.906_No.131             Origin        5
819     927    No.927_No.131             Origin        2

[820 rows x 4 columns]

In [48]:
destination = pd.DataFrame().copy()

In [49]:
destination['Station'] = df['Destination'].map(str)
destination['Path ID'] =  'No.' + df['Origin'].map(str)+ '_' +  'No.' + df['Destination'].map(str)
destination['Origin-Destination']='Destination'
destination['movement'] = df['movement']

In [50]:
destination

    Station          Path ID Origin-Destination movement
0      1169  No.1137_No.1169        Destination        3
1      1170  No.1157_No.1170        Destination        1
2      1170   No.227_No.1170        Destination        3
3      1175  No.1120_No.1175        Destination        6
4      1184  No.1181_No.1184        Destination        3
5      1184  No.1150_No.1184        Destination        3
6      1186  No.1150_No.1186        Destination        3
7      1186  No.1109_No.1186        Destination        1
8      1204  No.1207_No.1204        Destination        4
9      2312  No.2405_No.2312        Destination        4
10     1229  No.1207_No.1229        Destination        1
11     1229  No.1300_No.1229        Destination        5
12     1230  No.1283_No.1230        Destination        2
13     1230  No.1201_No.1230        Destination        2
14     2311  No.2347_No.2311        Destination        4
15     1240  No.2408_No.1240        Destination        3
16     1240  No.1201_No.1240        Destination        1
17     1241  No.1201_No.1241        Destination        2
18     1241  No.2375_No.1241        Destination        4
19     1242  No.1212_No.1242        Destination        3
20     1242  No.2383_No.1242        Destination        3
21     1243  No.1218_No.1243        Destination        4
22     1243  No.2383_No.1243        Destination        1
23     1243  No.2601_No.1243        Destination        3
24     2302  No.2268_No.2302        Destination        4
25     1245  No.2610_No.1245        Destination        3
26     1245  No.2601_No.1245        Destination        1
27     2292  No.2231_No.2292        Destination        6
28     1259  No.1267_No.1259        Destination        5
29     1259  No.1248_No.1259        Destination        1
..      ...              ...                ...      ...
790     716    No.424_No.716        Destination        3
791     716    No.417_No.716        Destination        2
792    2144   No.417_No.2144        Destination        2
793    2144   No.177_No.2144        Destination        3
794    2243   No.178_No.2243        Destination        4
795    2243   No.915_No.2243        Destination        1
796     724    No.414_No.724        Destination        1
797     724    No.972_No.724        Destination        1
798     724    No.915_No.724        Destination        3
799     816    No.912_No.816        Destination        5
800     726    No.914_No.726        Destination        5
801     104    No.912_No.104        Destination        1
802     104    No.914_No.104        Destination        2
803     104    No.956_No.104        Destination        1
804    2167   No.956_No.2167        Destination        1
805    2167   No.907_No.2167        Destination        2
806    1736   No.945_No.1736        Destination        2
807    1736   No.903_No.1736        Destination        1
808     209    No.907_No.209        Destination        1
809     209    No.900_No.209        Destination        2
810     513    No.900_No.513        Destination        3
811     513    No.964_No.513        Destination        1
812    1015   No.964_No.1015        Destination        1
813    1015   No.923_No.1015        Destination        3
814    3105   No.950_No.3105        Destination        2
815    3105   No.927_No.3105        Destination        1
816    2145   No.971_No.2145        Destination        3
817     523    No.971_No.523        Destination        3
818     131    No.906_No.131        Destination        5
819     131    No.927_No.131        Destination        2

[820 rows x 4 columns]

In [51]:
origin['idx'] = origin.index
destination['idx'] = destination.index

In [52]:
temp = pd.concat([origin, destination], axis=0)

In [53]:
temp  = temp.sort_values(['idx', 'Origin-Destination'], ascending=[True, False])

In [54]:
temp = temp.reset_index(drop=True)
temp['Station'] = temp['Station'].astype(str).astype(int)

In [57]:
info = pd.read_csv(r"C:\Users\19641\OSS_Project\opensourceproject\bicycle\공공자전거 대여소 정보_201905.CSV",engine = 'python')
info = info.drop(columns=['구분','대여소명','거치대수']).copy()
info = info.rename(columns={'대여소번호': "Station", "위도": "Latitude","경도": "Longitude"})

In [58]:
fin = pd.merge(temp, info, on='Station')
fin = fin.sort_values(['idx', 'Origin-Destination'], ascending=[True, False])
fin = fin.drop(columns=['idx']).copy()
fin = fin.reset_index(drop=True)
fin

,Station,Path ID,Origin-Destination,movement,Latitude,Longitude
0,1137,No.1137_No.1169,Origin,3,37.541431,126.863220
1,1169,No.1137_No.1169,Destination,3,37.547199,126.874489
2,1157,No.1157_No.1170,Origin,1,37.550659,126.849770
3,1170,No.1157_No.1170,Destination,1,37.549179,126.868797
4,227,No.227_No.1170,Origin,3,37.544666,126.888359
5,1170,No.227_No.1170,Destination,3,37.549179,126.868797
6,1120,No.1120_No.1175,Origin,6,37.565189,126.853996
7,1175,No.1120_No.1175,Destination,6,37.554379,126.857536
8,1181,No.1181_No.1184,Origin,3,37.551044,126.818497
9,1184,No.1181_No.1184,Destination,3,37.556450,126.815979
10,1150,No.1150_No.1184,Origin,3,37.561550,126.810478
11,1184,No.1150_No.1184,Destination,3,37.556450,126.815979
12,1150,No.1150_No.1186,Origin,3,37.561550,126.810478
13,1186,No.1150_No.1186,Destination,3,37.554729,126.816093
14,1109,No.1109_No.1186,Origin,1,37.563347,126.810486
15,1186,No.1109_No.1186,Destination,1,37.554729,126.816093
16,1207,No.1207_No.1204,Origin,4,37.499756,127.152504
17,1204,No.1207_No.1204,Destination,4,37.493343,127.144730
18,2405,No.2405_No.2312,Origin,4,37.518711,127.050850
19,2312,No.2405_No.2312,Destination,4,37.520580,127.056328
20,1207,No.1207_No.1229,Origin,1,37.499756,127.152504
21,1229,No.1207_No.1229,Destination,1,37.490688,127.143127
22,1300,No.1300_No.1229,Origin,5,37.506939,127.139221
23,1229,No.1300_No.1229,Destination,5,37.490688,127.143127
24,1283,No.1283_No.1230,Origin,2,37.505455,127.131752
25,1230,No.1283_No.1230,Destination,2,37.495670,127.130592
26,1201,No.1201_No.1230,Origin,2,37.493179,127.118546
27,1230,No.1201_No.1230,Destination,2,37.495670,127.130592
28,2347,No.2347_No.2311,Origin,4,37.518639,127.035400
29,2311,No.2347_No.2311,Destination,4,37.517773,127.043022
...,...,...,...,...,...,...
1588,907,No.907_No.2167,Origin,2,37.599491,126.916862
1589,2167,No.907_No.2167,Destination,2,37.476295,126.964958
1590,945,No.945_No.1736,Origin,2,37.634140,126.932343
1591,1736,No.945_No.1736,Destination,2,37.652241,127.037064
1592,903,No.903_No.1736,Origin,1,37.645866,126.927391
1593,1736,No.903_No.1736,Destination,1,37.652241,127.037064
1594,907,No.907_No.209,Origin,1,37.599491,126.916862
1595,209,No.907_No.209,Destination,1,37.524612,126.927834
1596,900,No.900_No.209,Origin,2,37.603943,126.927696
1597,209,No.900_No.209,Destination,2,37.524612,126.927834
1598,900,No.900_No.513,Origin,3,37.603943,126.927696
1599,513,No.900_No.513,Destination,3,37.546307,127.049805
1600,964,No.964_No.513,Origin,1,37.616112,126.925041
1601,513,No.964_No.513,Destination,1,37.546307,127.049805
1602,964,No.964_No.1015,Origin,1,37.616112,126.925041
1603,1015,No.964_No.1015,Destination,1,37.550079,127.146912
1604,923,No.923_No.1015,Origin,3,37.620949,126.925636
1605,1015,No.923_No.1015,Destination,3,37.550079,127.146912
1606,950,No.950_No.3105,Origin,2,37.610779,126.917351
1607,3105,No.950_No.3105,Destination,2,37.597149,126.938530
1608,927,No.927_No.3105,Origin,1,37.617855,126.922523
1609,3105,No.927_No.3105,Destination,1,37.597149,126.938530
1610,971,No.971_No.2145,Origin,3,37.602329,126.906548
1611,2145,No.971_No.2145,Destination,3,37.486359,126.942924
1612,971,No.971_No.523,Origin,3,37.602329,126.906548
1613,523,No.971_No.523,Destination,3,37.543663,127.014061
1614,906,No.906_No.131,Origin,5,37.617210,126.919579
1615,131,No.906_No.131,Destination,5,37.584171,126.911102
1616,927,No.927_No.131,Origin,2,37.617855,126.922523
1617,131,No.927_No.131,Destination,2,37.584171,126.911102

In [59]:
arr = 'No.' + fin['Station'].map(str)
fin['Station'] = arr

In [60]:
fin.to_csv('optimize_path.csv',encoding='utf-8-sig',index=False)